.kpi-card {

    background: white;

    padding: 25px;

    border-radius: 15px;

    box-shadow: 0px 4px 15px rgba(0,0,0,0.08);

    transition: 0.3s;

}


.kpi-card:hover {

    transform: translateY(-5px);

}


.kpi-card h3 {

    color: #64748b;

    font-size: 16px;

    margin-bottom: 10px;

}


.kpi-card h2 {

    color: #0f172a;

    font-size: 28px;

    margin-bottom: 10px;

}


.kpi-change {

    color: green;

    font-weight: bold;

    font-size: 14px;

}